.hero {
    /* background-image: url('https://source.unsplash.com/1600x900/?nature,landscape'); */
    background-image: url('pic8.jpg'); 
    background-size: cover;
    background-position: center;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
    max-width: 600px;
  }
  
  
  
